@media ( max-width:  1200px)
  .container
    max-width: 960px
  .swiper
    max-width: 590px
    height: 450px
    margin: 0auto
    &-slide
      &__img
        height: 100%
        object-fit: cover
  .slader
    width: 100%
    min-height: 450px
@media ( max-width:  992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      padding: 21px 14px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 48px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .swiper
    max-width: 700px
    &-slide
      &__img
        width: 100%
  .slider
    max-width: 700px
  .booking
    width: 340px
    height: 210px
  .map
    width: 340px
  .hotel
    padding-bottom: 53px
  .newsletter
    padding: 70px 0 87px 0
  .reviews
    &-slider
      &__item
        max-width: 580px
@media ( max-width:  768px)
  .container
    max-width: 90%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__description
        max-width: 290px
  .rating
    display: none
  .swiper
    width: 100%
    height: 350px
    &-slide
      &__img
        height: 100%
  .slider
    max-width: 100%
    height: 350px
  .hotel
    &-info
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .hotel
    padding-bottom: 53px
  .newsletter
    min-height: 320px
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      max-width: 90%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
    &-button
      top: 45px
      &--prev
        left: 50%
        margin-left: -65px
        transform: translate(-50%, 0)
      &--next
        right: 50%
        margin-right: -65px
        transform: translate(50%, 0)
@media (max-width:  576px)
  .newstletter
    &__title
      margin: 0
  .rating
    display: none
  .swiper
    width: 100%
    min-height: 178px
  .slider
    min-height: 178px
  .map
    width: 100%
@media ( min-width: 320px) and (max-width:  576px)
  .container
    max-width: 88%
  .logo
    width: 99px
  .hotel
    padding-top: 4px
    padding-bottom: 60px
    &-description
      padding-bottom: 20px
    &__slider
      margin-bottom: 20px
  .rating
    display: none
  .swiper
    width: 100%
    min-height: 178px
  .slider
    height: 100%
    &-button
      position: absolute
      top: 55%
      transform: translateY(-50%)
      z-index: 10
      width: 8px
      height: 8px
      margin: -10px
      padding: 0
      border: 0
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-size: 8px
      background-color: transparent
  .newsletter
    min-height: 320px
    padding: 65px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    max-width: 280px
